<h1>Sessions#new aka Login</h1>
<form action="/sessions" method="POST">
  <label for="email">Email</label>
  <input type="email" name="email">
  <label for="password">Password</label>
  <input type="password" name="password_hash">
</form>