<%= current_user.inspect %>
<% if current_user %>
  <h2>Hello, <%= @current_user.name %>!</h2>
    <% if @boards %>
      <% @boards.each do |board| %>
        <%= render partial: "board", locals: { board: board } %>
      <% end %>
    <% end %>
<% end %>

<%= render 'new' %>