<% if @user %>
<% if @boards %>
<% @boards.each do |board| %>
<!-- <p>link_to(board)</p> -->
<a href="/users/<%= @user.id %>/boards/<%= board.id %>"><%= board.name %></a>
<% end %>
<% end %>
<% end %>