<div class="container">
  <% if @board %>
  <h2><%= @board.name %></h1>
    <% if @board.lists %>
    <% @board.lists.each do |list| %>
    <div class="list">
      <h3><%= list.name  %></h3>
      <% list.cards.each do |card| %>
      <div class="card">
        <p><%= card.organization_name  %></p>
      </div>
      <% end %>
    </div>
    <% end %>
    <% end %>
    <% else %>
    <p>Sorry, you have no boards yet.</p>
    <% end %>
  </div>
