<div class="add-card">
  <form action="/users/<%= @user.id %>/boards/<%= @board.id %>/lists/1/cards" method="post">
    <input type="text" name=[card]['organization_name'] placeholder="organization name">
    <input type="submit" value="Add Organization">
  </form>
</div>
