// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* boards */
.board-button {
  border: 1px black solid;
  background-color: #f7f7f7;
  height: 100px;
  width: 100px;

  div { opacity: 0.3; }

  a {
    color: #00b0ff;
    text-decoration: none;
    height: inherit;
    width: inherit;
  }

  .board-button-name {
    font-family: Helvetica, sans-serif;
  }
}
